
@media (min-width: 781px) {
  :root{ --max-width: 1100px; }

  .header-inner{ padding:0 1rem; }

  .container{ margin:1.75rem auto; padding:0 1.25rem; }

  
  .gallery{
    grid-template-columns: repeat(3, 1fr);
    gap:1.25rem;
  }

  figure img{ height:200px; }

  h1{ font-size:1.6rem; color:#333; }

  .footer-inner{
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }
}


@media (min-width: 1000px){
  .primary-nav ul{
    display:flex;
    gap:.4rem;
    align-items:center;
  }
}
