
body {
  font-family: "Segoe UI", sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  background: #3b0a37;
  padding: 1rem;
  text-align: center;
}

header h1 {
  color: white;
  margin: 0;
}

main {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}

form {
  background: #e4dbe4;
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* Labels + Inputs */
label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
}

input, select, textarea {
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-size: 1rem;
  width: 100%;
}

/* Fieldsets */
fieldset {
  border: 1px solid #c1b5c1;
  padding: 1rem;
  border-radius: 6px;
}

legend {
  font-weight: bold;
  padding: 0 0.4rem;
}

.small {
  font-size: 0.85rem;
  font-weight: normal;
}

.optional {
  font-size: 0.8rem;
  color: #444;
  font-weight: normal;
}

/* Stars */
.stars label {
  display: block;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

.rating-group input[type="radio"] {
  margin-right: 0.5rem;
}

/* Submit Button */
.submit-btn {
  background: #3b0a37;
  color: white;
  padding: 0.75rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #5c0c58;
}


footer {
  text-align: center;
  padding: 1.5rem;
  color: #444;
  margin-top: 2rem;
}
